:root {
    --vp-c-indigo-1: #EC6102;
    --vp-c-indigo-2: #E9F4FB;
    --vp-c-indigo-3: #005CC5;
    --vp-font-family-base: 'Source Han Serif', 'MiSans', 'Punctuation SC', 'Inter', ui-sans-serif, system-ui, 'PingFang SC', 'Noto Sans CJK SC', 'Noto Sans SC', 'Heiti SC', 'Microsoft YaHei', 'DengXian', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.dark {
    --vp-c-indigo-2: #182732;
    --vp-c-indigo-3: #79B8FF;
}

.group:nth-of-type(1) .VPLink .text {
    color: var(--vp-c-text-1) !important;
    font-weight: 700 !important;
}

.VPFeature {
    background-color: transparent !important;
    border: none !important;
}

/* body {
    background-color: var(--vp-c-bg-alt) !important;
} */
/* 
.VPFooter {
    background-color: var(--vp-c-bg-alt) !important;
} */

.item:nth-of-type(1) .VPFeature {
    border-right: 1px dashed var(--vp-c-gray-2) !important;
}

.item:nth-of-type(2) .VPFeature {
    border-right: 1px dashed var(--vp-c-gray-2) !important;
}

/*去除表格边框*/
.vp-doc th,
.vp-doc td {
    border-right: none !important;
    border-left: none !important;
}

thead,
tbody {
    border-right: 1px solid var(--vp-c-divider);
    border-left: 1px solid var(--vp-c-divider);
}

/*调整active*/
.VPNavBarMenuLink {
    padding: 0 !important;
}

.VPNavBarMenuLink.active {
    color: var(--vp-c-brand-1);
    padding: 0 !important;
}

.VPNavBarMenuLink>span {
    border: 1px solid transparent;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 18px;
    padding: 0 16px;
}

.VPNavBarMenuLink.active>span {
    border-color: var(--vp-c-brand-1);
    background-color: var(--vp-c-bg) !important;
}

.VPNavBarMenuLink:hover {
    color: var(--vp-c-brand-1) !important;
}

/* .curtain {
    background-color: var(--vp-c-bg) !important;
} */
/* 
.VPSidebar {
    background-color: var(--vp-c-bg) !important;
} */

.VPSidebarItem.level-0.is-link>.item>.link:hover .text,
.VPSidebarItem.level-1.is-link>.item>.link:hover .text,
.VPSidebarItem.level-2.is-link>.item>.link:hover .text,
.VPSidebarItem.level-3.is-link>.item>.link:hover .text,
.VPSidebarItem.level-4.is-link>.item>.link:hover .text,
.VPSidebarItem.level-5.is-link>.item>.link:hover .text {
    color: var(--vp-c-brand-1) !important;
}

.VPSidebarItem.level-0.is-active>.item .link>.text,
.VPSidebarItem.level-1.is-active>.item .link>.text,
.VPSidebarItem.level-2.is-active>.item .link>.text,
.VPSidebarItem.level-3.is-active>.item .link>.text,
.VPSidebarItem.level-4.is-active>.item .link>.text,
.VPSidebarItem.level-5.is-active>.item .link>.text {
    color: var(--vp-c-brand-1) !important;
}


.VPSidebarItem.level-3.is-active>.item>.indicator,
.VPSidebarItem.level-4.is-active>.item>.indicator,
.VPSidebarItem.level-5.is-active>.item>.indicator {
    background-color: var(--vp-c-brand-1) !important;
}

.title {
    color: var(--vp-c-brand-1);
}

.box .title {
    color: var(--vp-c-text-1);
    font-size: 24px !important;
}

.details {
    padding-top: 16px !important;
}

.VPSidebar {
    background-color: var(--vp-nav-bg-color);
}

.curtain {
    background-color: var(--vp-nav-bg-color);
}

/* .VPNavBar.has-sidebar .title {
    background-color: var(--vp-nav-bg-color);
    border-bottom-color: transparent !important;
} */

.VPSidebarItem.level-1 .items,
.VPSidebarItem.level-2 .items,
.VPSidebarItem.level-3 .items,
.VPSidebarItem.level-4 .items,
.VPSidebarItem.level-5 .items {
    border-left: none !important;
}

.indicator {
    position: relative !important;
    width: 0 !important;
    border-radius: 0 !important;
}

.icon {
    background-color: transparent !important;
    justify-content: start !important;
}

.clip {
    -webkit-text-fill-color: var(--vp-c-text-1) !important;
}

.titleP {
    display: inline-block;
    -webkit-text-fill-color: var(--vp-c-brand-1) !important;
}

.VPButton.brand {
    background-color: var(--vp-c-brand-1) !important;
    padding: 0 42px 0 28px !important;
    position: relative;
}

.VPButton.brand::before {
    content: "";
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    background: url('../assets/enter.svg') no-repeat center center;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.message a {
    text-decoration: none;
    text-decoration-line: none !important;
    -webkit-backface-visibility: hidden;
}

.message:hover a {
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

.pager-link:hover {
    border-color: var(--vp-c-brand-1) !important;
}

.vp-doc .header-anchor::before {
    content: none !important;
}

.logo {
    height: 32px !important;
    margin: 0 !important;
}

.icon {
    margin-bottom: 32px !important;
}

.vp-doc blockquote {
    margin-left: 16px !important;
    padding-left: 0 !important;
}

.vp-doc p {
    /* color: var(--vp-c-text-1) !important; */
    /* padding-left: 16px !important; */
    margin: 16px 0 4px 0 !important;
    line-height: 24px !important;
}

.DocSearch-Button {
    border: 1px solid var(--vp-c-bg-alt) !important;
}

/* .VPNavBar:not(.home.top) .content-body {
    background-color: var(--vp-c-bg-alt) !important;
} */

/* .vp-doc div[class*='language-'],
.vp-block {
    background-color: var(--vp-c-bg) !important;
} */

.outline-link:hover,
.outline-link.active {
    color: var(--vp-c-indigo-1) !important;
}

.VPSidebarItem.level-0 {
    padding-bottom: 10px !important;
}

.image-src {
    padding-top: 64px;
}

.VPHero[data-v-400e8ae5] {
    margin-top: calc((var(--vp-nav-height) + var(--vp-layout-top-height, 0px))* -1);
    padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 68px) 24px 48px !important;
}

@media (min-width: 960px) {
    .VPHero[data-v-400e8ae5] {
        padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 100px) 64px 84px !important;
    }
}

@media (min-width: 640px) {
    .VPHero[data-v-400e8ae5] {
        padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 100px) 48px 84px !important;
    }
}

img {
    margin: 0 auto;
}

.hidden {
    display: none;
}


.aside-container {
    width: 248px !important;
}

.vp-doc strong {
    color: var(--vp-c-text-1);
}

.vp-doc th {
    min-width: 90px;
    background-color: var(--vp-c-indigo-2) !important;
    width: auto !important;
}

.vp-doc td {
    min-width: 90px;
}

.vp-doc h3 {
    /* border-top: none !important; */
    padding-top: 8px !important;
    background-color: var(--vp-c-bg);
    padding: 8px;
    overflow: hidden;
    margin: 30px 0 8px 0 !important;
}

.pStyle {
    background-color: var(--vp-c-bg);
}

.vp-doc h2 {
    position: relative !important;
    padding-left: 30px !important;
    padding-top: 30px !important;
    margin: 30px 0 30px !important;
}



.vp-doc h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 68%;
    transform: translateY(-50%);
    background: url('../assets/icon.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.vp-doc h3 {
    position: relative !important;
    padding-left: 26px !important;
    padding-top: 26px !important;
    margin: 26px 0 26px !important;
}

.vp-doc h3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 64%;
    transform: translateY(-50%);
    background: url('../assets/icon.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 18px;
    height: 18px;
}

.wrap-item1 h2 {
    border-top: none !important;
    padding-top: 0 !important;
    margin: 0 0 16px !important;
}

.wrap-item1 h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../assets/icon.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.vp-doc h1 {
    padding-bottom: 10px !important;
    margin-bottom: 30px !important;
    /* border-bottom: 1px solid var(--vp-c-divider); */
}

.vp-doc h1 > code, .vp-doc h2 > code, .vp-doc h3 > code{
    color: var(--vp-c-indigo-1) !important;
}

.vp-doc table {
    width: 100% !important;
    border-radius: 8px !important;
    margin: 8px 0 16px 0 !important;
    overflow: auto;
}

.vp-doc ul,
.vp-doc ol {
    margin: 0 0 8px 0 !important;
}

@media (min-width: 960px) {
    .content {
        padding: 0 16px 128px;
    }
}

@media (min-width: 1280px) {
    .aside {
        padding-left: 16px !important;
    }
}

.VPDoc.has-aside .content-container {
    max-width: 770px !important;
}

.h1Style {
    margin: 30px 0 !important;
}

html:not(.dark) .vp-code span {
    /* color: var(--vp-c-indigo-3, inherit) !important; */
}