:root {
    --vp-c-indigo-1: #EC6102;
    --vp-font-family-base: 'Source Han Serif', 'MiSans', 'Punctuation SC', 'Inter', ui-sans-serif, system-ui, 'PingFang SC', 'Noto Sans CJK SC', 'Noto Sans SC', 'Heiti SC', 'Microsoft YaHei', 'DengXian', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.VPFeature {
    background-color: transparent !important;
    border: none !important;

}

body {
    background-color: var(--vp-c-bg-alt) !important;
}

.VPFooter {
    background-color: var(--vp-c-bg-alt) !important;
}

.item:nth-of-type(1) .VPFeature {
    border-right: 1px dashed var(--vp-c-gray-2) !important;
}

.item:nth-of-type(2) .VPFeature {
    border-right: 1px dashed var(--vp-c-gray-2) !important;
}

/*去除表格边框*/
.vp-doc th,
.vp-doc td {
    border-right: none !important;
    border-left: none !important;
}

thead,
tbody {
    border-right: 1px solid var(--vp-c-divider);
    border-left: 1px solid var(--vp-c-divider);
}

/*调整active*/
.VPNavBarMenuLink {
    padding: 0 !important;
}

.VPNavBarMenuLink.active {
    color: var(--vp-c-brand-1);
    padding: 0 !important;
}

.VPNavBarMenuLink>span {
    border: 1px solid transparent;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 18px;
    padding: 0 16px;
}

.VPNavBarMenuLink.active>span {
    border-color: var(--vp-c-brand-1);
    background-color: var(--vp-c-bg) !important;
}

.VPNavBarMenuLink:hover {
    color: var(--vp-c-brand-1) !important;
}

.curtain {
    background-color: var(--vp-c-bg) !important;
}

.VPSidebar {
    background-color: var(--vp-c-bg) !important;
}

/**/
.VPSidebarItem.level-0.is-link>.item>.link:hover .text,
.VPSidebarItem.level-1.is-link>.item>.link:hover .text,
.VPSidebarItem.level-2.is-link>.item>.link:hover .text,
.VPSidebarItem.level-3.is-link>.item>.link:hover .text,
.VPSidebarItem.level-4.is-link>.item>.link:hover .text,
.VPSidebarItem.level-5.is-link>.item>.link:hover .text {
    color: var(--vp-c-brand-1) !important;
}

.VPSidebarItem.level-0.is-active>.item .link>.text,
.VPSidebarItem.level-1.is-active>.item .link>.text,
.VPSidebarItem.level-2.is-active>.item .link>.text,
.VPSidebarItem.level-3.is-active>.item .link>.text,
.VPSidebarItem.level-4.is-active>.item .link>.text,
.VPSidebarItem.level-5.is-active>.item .link>.text {
    color: var(--vp-c-brand-1) !important;
}

.VPSidebarItem.level-2.is-active>.item>.indicator,
.VPSidebarItem.level-3.is-active>.item>.indicator,
.VPSidebarItem.level-4.is-active>.item>.indicator,
.VPSidebarItem.level-5.is-active>.item>.indicator {
    background-color: var(--vp-c-brand-1) !important;
}

.title {
    color: var(--vp-c-brand-1);
}

.box .title {
    color: var(--vp-c-text-1);
    font-size: 24px !important;
}

.details {
    padding-top: 16px !important;
}

.VPSidebar {
    background-color: var(--vp-nav-bg-color);
}

.curtain {
    background-color: var(--vp-nav-bg-color);
}

.VPNavBar.has-sidebar .title {
    background-color: var(--vp-nav-bg-color);
    border-bottom-color: transparent !important;
}

.VPSidebarItem.level-1 .items,
.VPSidebarItem.level-2 .items,
.VPSidebarItem.level-3 .items,
.VPSidebarItem.level-4 .items,
.VPSidebarItem.level-5 .items {
    border-left: none !important;
}

.indicator {
    position: relative !important;
    width: 0 !important;
    border-radius: 0 !important;
}

.icon {
    background-color: transparent !important;
    justify-content: start !important;
}

.clip {
    -webkit-text-fill-color: var(--vp-c-text-1) !important;
}

.titleP {
    display: inline-block;
    -webkit-text-fill-color: var(--vp-c-brand-1) !important;
}

.VPButton.brand {
    background-color: var(--vp-c-brand-1) !important;
    padding: 0 42px 0 28px !important;
    position: relative;
}

.VPButton.brand::before {
    content: "";
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    background: url('../assets/enter.svg') no-repeat center center;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.message a {
    text-decoration: none;
    text-decoration-line: none !important;
    -webkit-backface-visibility: hidden;
}

.message:hover a {
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

.pager-link:hover {
    border-color: var(--vp-c-brand-1) !important;
}

.vp-doc .header-anchor::before {
    content: none !important;
}

.logo {
    height: 32px !important;
    margin: 0 !important;
}

.icon {
    margin-bottom: 32px !important;
}

.vp-doc p {
    color: var(--vp-c-text-2) !important;
}

.DocSearch-Button {
    background-color: var(--vp-c-bg) !important;
    border-radius: 4px !important;
}

.VPNavBar:not(.home.top) .content-body {
    background-color: var(--vp-c-bg-alt) !important;
}

.vp-doc div[class*='language-'],
.vp-block {
    background-color: var(--vp-c-bg) !important;
}

.outline-link:hover,
.outline-link.active {
    color: var(--vp-c-indigo-1) !important;
}

.VPSidebarItem.level-0 {
    padding-bottom: 10px !important;
}
.image-src{
    padding-top: 64px;
}
.VPHero[data-v-400e8ae5] {
    margin-top: calc((var(--vp-nav-height) + var(--vp-layout-top-height, 0px))* -1);
    padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 68px) 24px 48px !important;
}
@media (min-width: 960px) {
    .VPHero[data-v-400e8ae5] {
        padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 100px) 64px 84px !important;
    }
}

@media (min-width: 640px) {
    .VPHero[data-v-400e8ae5] {
        padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 100px) 48px 84px !important;
    }
}
img{
    margin: 0 auto;
}
.hidden{
    display:none;
}